<a href="https://colab.research.google.com/github/melisamichuki01/moringa_project/blob/master/Moringa_Data_Science_Prep_W4_Independent_Project_2019_07_Melisa_Michuki_Python_Notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Moringa Project week 4

---



---

# Problem
 
In this week's independent project, you will be working as a data scientist working for an electric car-sharing service company. You have been tasked to process stations data to understand electric car usage over time by solving for the following research question

Dataset provided


*   Autolib_dataset  [http://bit.ly/autolib_dataset ] 





> Research question


1.   Identify the most popular hour of the day for picking up a shared electric car (Bluecar) in the city of Paris over the month of April 2018.

# Import Pandas

---


Pandas is software library written for Python programming language for data manipulation and analysis

In [0]:
# we import pandas 
#
import pandas as pd
import numpy as np

# Loading the dataset

---

In [31]:
# We load in the dataset provided for our research
#
df = pd.read_csv('/content/Autolib_dataset (2).csv')
df.head()

                              Address  Cars  Bluecar counter  ...  day  hour  minute
0                 2 Avenue de Suffren     0                0  ...    8    11      43
1           145 Rue Raymond Losserand     6                6  ...    6     7      24
2    2 Avenue John Fitzgerald Kennedy     3                3  ...    3    20      14
3              51 Rue EugÃ¨ne OudinÃ©     3                3  ...    4     4      37
4  6 avenue de la Porte de Champerret     3                3  ...    8    17      23

[5 rows x 25 columns]

# Exploration

---

In [32]:
# We then check the information in the provided dataset
#
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 25 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Address              5000 non-null   object
 1   Cars                 5000 non-null   int64
 2   Bluecar counter      5000 non-null   int64
 3   Utilib counter       5000 non-null   int64
 4   Utilib 1.4 counter   5000 non-null   int64
 5   Charge Slots         5000 non-null   int64
 6   Charging Status      5000 non-null   object
 7   City                 5000 non-null   object
 8   Displayed comment    111 non-null    object
 9   ID                   5000 non-null   object
 10  Kind                 5000 non-null   object
 11  Geo point            5000 non-null   object
 12  Postal code          5000 non-null   int64
 13  Public name          5000 non-null   object
 14  Rental status        5000 non-null   object
 15  Scheduled at         47 non-null     object
 16  Slots                5000 non-null   int64
 17  Station type         5000 non-null   object
 18  Status               5000 non-null   object
 19  Subscription status  5000 non-null   object
 20  year                 5000 non-null   int64
 21  month                5000 non-null   int64
 22  day                  5000 non-null   int64
 23  hour                 5000 non-null   int64
 24  minute               5000 non-null   int64
dtypes: int64(12), object(13)
memory usage: 976.7+ KB

In [33]:
# we also describe the dataset to get an overview of the data available
#
df.describe()

              Cars  Bluecar counter  ...         hour       minute
count  5000.000000      5000.000000  ...  5000.000000  5000.000000
mean      2.333600         2.333600  ...    11.509200    29.270000
std       2.035274         2.035274  ...     6.893549    17.231741
min       0.000000         0.000000  ...     0.000000     0.000000
25%       0.000000         0.000000  ...     6.000000    14.000000
50%       2.000000         2.000000  ...    11.000000    29.000000
75%       4.000000         4.000000  ...    18.000000    44.000000
max       7.000000         7.000000  ...    23.000000    59.000000

[8 rows x 12 columns]

# Data cleaning

---

# Validity
During this procedure we drop unnecessary columns that will not be used for analysis

In [0]:
# we start with dropping the column scheduled at
#
df1= df.drop(['Scheduled at'], axis=1, inplace=True)
df1

In [0]:
# we then drop subscription status
#
df1 = df.drop(['Subscription status'], axis=1, inplace=True)
df1

In [0]:
# then status
#
df1 = df.drop(['Status'], axis=1, inplace=True)
df1

In [0]:
# we also drop Displayed comment
#
df1 = df.drop(['Displayed comment'], axis=1, inplace=True)
df1

In [0]:
# finally we drop the Geo point column
#
df1 = df.drop(['Geo point'], axis=1, inplace=True)
df1

# Accuracy
Here we check for null value and try to drop them

In [40]:
# we the check for any null values
#
np.count_nonzero(df.isnull())

0

# Completeness
Here we check for any duplicate values

In [42]:
dup = df.duplicated().sum()
dup

0

# Consistency
Here we drop any null values if present

In [44]:
df1 = df.dropna(how='all')
df1.head()

                              Address  Cars  Bluecar counter  ...  day  hour  minute
0                 2 Avenue de Suffren     0                0  ...    8    11      43
1           145 Rue Raymond Losserand     6                6  ...    6     7      24
2    2 Avenue John Fitzgerald Kennedy     3                3  ...    3    20      14
3              51 Rue EugÃ¨ne OudinÃ©     3                3  ...    4     4      37
4  6 avenue de la Porte de Champerret     3                3  ...    8    17      23

[5 rows x 21 columns]

# Uniformity
In this procedure,we try to ensure that the data is uniform throghout the dataset.

In [46]:
# we change the column names to lower case
#
df1.columns = df1.columns.str.rstrip().str.lower()
df1.head()

                              address cars bluecar counter  ... day hour minute
0                 2 avenue de suffren    0               0  ...   8   11     43
1           145 rue raymond losserand    6               6  ...   6    7     24
2    2 avenue john fitzgerald kennedy    3               3  ...   3   20     14
3              51 rue eugã¨ne oudinã©    3               3  ...   4    4     37
4  6 avenue de la porte de champerret    3               3  ...   8   17     23

[5 rows x 21 columns]

In [45]:
# we change the row values to lowercase ensuring uniform values
df1 = df1.astype(str).apply(lambda x: x.str.lower())
df1.head()

                              Address Cars Bluecar counter  ... day hour minute
0                 2 avenue de suffren    0               0  ...   8   11     43
1           145 rue raymond losserand    6               6  ...   6    7     24
2    2 avenue john fitzgerald kennedy    3               3  ...   3   20     14
3              51 rue eugã¨ne oudinã©    3               3  ...   4    4     37
4  6 avenue de la porte de champerret    3               3  ...   8   17     23

[5 rows x 21 columns]

In [48]:
df1.columns = df1.columns.str.replace(" ", "_", regex=True)
df1.head()

                              address cars bluecar_counter  ... day hour minute
0                 2 avenue de suffren    0               0  ...   8   11     43
1           145 rue raymond losserand    6               6  ...   6    7     24
2    2 avenue john fitzgerald kennedy    3               3  ...   3   20     14
3              51 rue eugã¨ne oudinã©    3               3  ...   4    4     37
4  6 avenue de la porte de champerret    3               3  ...   8   17     23

[5 rows x 21 columns]

# Research question
Identify the most popular hour of the day for picking up a shared electric car (Bluecar) in the city of Paris over the month of April 2018

In [55]:
df_query= df1[['city', 'bluecar_counter', 'hour']]
df_paris = df1[df1['city'] == 'paris']
df_query= df_paris.groupby(['bluecar_counter'])['hour'].max().sort_values(ascending=False)
df_query

bluecar_counter
6    9
5    9
4    9
3    9
2    9
1    9
0    9
7    3
Name: hour, dtype: object

# Bonus questions

What station is the most popular?

* Overall?

In [61]:
dfp = df1.groupby(['address'])['bluecar_counter'].max().sort_values(ascending=False)

dfp.head(1)

address
194 rue de fontenay    7
Name: bluecar_counter, dtype: object

What station is the most popular?
* At the most popular picking hour?

In [63]:
df_p = df1.groupby(['address'])['hour'].max().sort_values(ascending=False)

df_p.head(1)

address
1 allã©e de gascogne    9
Name: hour, dtype: object